body{
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	overflow-y: hidden !important; // hide vertical
	overflow-x: hidden !important; // hide horizontal
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.background-image{
	-webkit-filter: brightness(50%);
	filter:brightness(50%);
}

img {
	/*max-width:100%;*/
	/*object-fit: scale-down;*/
}

.contents{
	width : 100%;
	position: absolute;
	top : 5%;
	color: #ffffff;
	z-index: 1000;
}

.slider{
	/*position: absolute;*/
	/*top : 5%;*/
	/*margin-left : 15%;*/
	/*width: 70%;*/
	padding-left : 20%;
	padding-right : 20%;
}

.english-date{
	font-size : 30px !important;
}

.nepali-date{
	font-size : 60px !important;
}

.time{
	font-size : 180px !important;
}

.stage{
	font-size : 60px !important;
}

.margin-date{
	margin-top: 80px;
}

.margin-pages{
	margin-top: 100px;
}

.page{
	padding : 8px;
	background-color: rgba(255,255,255,0.2);
	margin : 10px;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

.page:hover{
	background-color: rgba(255,255,255,0.5);
}

a{
	text-decoration: none !important;
	color : #ffffff;
}

.recently{
	font-size: 20px;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 3px;
}

.todo-input{
	border : 1px solid #ffffff;
	border-radius: 5px;
	background-color: transparent;
	padding : 5px;
	color : #ffffff;
}

.slick-dots li button:before {
	color: #ffffff !important;
}

.align-left{
	text-align: left;
}

.todo {
	margin-top : 20px;
}

.todos-list{
	margin-top: 30px;
	font-size: 20px;
}

.pointer{
	cursor: pointer;
}

.circle:before{
	content:'a';
}

.to-done{
	text-decoration : line-through;
}